apiVersion: v1
kind: Service
metadata:
  name: client-cluster-ip-service
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "chathub.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
