apiVersion: v1
kind: Service
metadata:
  name: postgres-cluster-ip-service
  labels:
    app.kubernetes.io/name: {{ include "chathub.name" . }}
    helm.sh/chart: {{ include "chathub.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "chathub.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
