.CardWrapper { 
    margin: 1%; 
    border: solid;
    border-style: black; 
}

.CardWrapper:hover{
    border-style: solid;
    border-color: #49C5B6;
    color: #49C5B6;
    transition: 0.5s;
    cursor: pointer;
}

.CardContent {
    width: auto;
    display: block;
}

.CardWrapper:hover p{
    color: #49C5B6 !important;
    transition: 0.5s;
}

.CardWrapper p {
    color: #757587;
}

.ButtonBase {
    margin:auto;
}




